.catalog {
    width: 100%;
    background-image: url(../img/catalog/bg-catalog-gridlines.jpg);
    background-size: cover;
    padding: 50px 100px 50px 100px;
}

.catalog_header a img {
    width: 420px;
    height: 100%;
}

.catalog h2 {
    padding: 25px 0 25px;
}

.inquiry {
    background-color: #f3f3f3;
}

.inquiry h2 {
    color: #000000;
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.inquiry p {
    font-family: "Exo 2";
    font-size: 26px;
    letter-spacing: 5px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-left: 300px;
    padding-right: 300px;
}
