/* DESKTOP L TO XL */
@media only screen and (max-width: 1280px) {
    .header_nav {
        flex-direction: column;
        align-items: center;
        padding: 20px 100px 0 100px;
    }

    .main {
        padding: 0 0 0 100px;
    }

    .main_hero__content h1 {
        font-size: 54px;
        line-height: 67px;
    }

    .main_hero img {
        width: 600px;
        height: 600px;
    }

    .btn_large {
        font-size: 32px;
        z-index: 999;
    }

    .catalog h2 {
        font-size: 54px;
        line-height: 67px;
    }

    .catalog p {
        font-size: 18px;
        line-height: 24px;
        padding: 0 150px;
    }

    .catalog_sports__grid,
    .catalog_apparels__grid {
        padding: 0 150px;
    }

    .catalog_sports__grid h3,
    .catalog_apparels__grid h3 {
        font-size: 50px;
    }

    .catalog a {
        font-size: 32px;
    }

    .gallery h2 {
        font-size: 54px;
    }

    .gallery_preview {
        grid-template-columns: repeat(auto-fit, minmax(241px, 1fr));
    }

    .gallery a {
        font-size: 32px;
    }

    .new_arrival__grid h2 {
        font-size: 105px;
        -webkit-text-stroke: 7px transparent;
    }

    .new_arrival__img-showcase-04 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .new_arrival__description-box h3 {
        font-size: 54px;
        line-height: 67px;
    }

    .new_arrival__description-box p {
        font-size: 48px;
        line-height: 48px;
    }

    .new_arrival__img-showcase > div > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border: 4px solid #000000;
    }

    .new_arrival__sticker {
        top: 350px;
        left: 190px;
    }

    .new_arrival__sticker > img {
        height: 100%;
        width: 66%;
    }

    .about_us__grid h2 {
        font-size: 105px;
    }

    .about_us__description p {
        font-size: 22px;
        line-height: 28px;
    }

    .partners__title-box h2 {
        font-size: 105px;
    }

    .partners__description p {
        font-size: 42px;
        line-height: 52px;
    }

    .branches_title-box h2 {
        font-size: 108px;
    }

    .branches_container a {
        font-size: 32px;
    }

    .footer_company_details img:first-child {
        width: 100%;
    }

    .footer_company_details p {
        font-size: 14px;
    }

    .footer_company_contact_info a img {
        width: 30px;
    }

    .footer_company_contact_info a {
        font-size: 14px;
    }

    .inquiry p {
        font-size: 18px;
        line-height: 24px;
        padding: 0 150px;
    }

    .inquiry h2 {
        font-size: 54px;
        line-height: 67px;
    }

    .input,
    .select select,
    .textarea {
        font-size: 18px;
    }

    .select:not(.is-multiple):not(.is-loading)::after {
        top: 1.5em;
    }

    .product_content p {
        padding: 0;
    }

    #mainCarousel.carousel {
        width: 425px;
        height: 560px;
    }

    #thumbCarousel.carousel {
        width: 425px;
    }

    .catalog h4 {
        font-size: 48px;
    }
}

/* TABLET & DESKTOP MEDIUM */
@media only screen and (max-width: 1024px) {
    .header_nav {
        padding: 15px 100px 0;
    }

    .header_nav > img {
        width: 30%;
    }

    .nav_ul {
        display: flex;
    }

    .nav_ul li a {
        font-size: 12px;
        padding: 10px;
    }

    .header_announcement p {
        font-size: 12px;
    }

    .main {
        padding: 0 0 0 100px;
    }

    .main_hero img {
        width: 455px;
        height: 400px;
    }

    .main_hero__content h1 {
        font-size: 42px;
        line-height: 45px;
        margin-top: -20px;
    }

    .btn_large {
        font-size: 22px;
    }

    .catalog {
        padding-bottom: 0;
    }

    .catalog h2 {
        font-size: 40px;
        line-height: 45px;
    }

    .catalog p {
        font-size: 16px;
        line-height: 22px;
        padding: 0 100px;
    }

    .catalog_sports__grid,
    .catalog_apparels__grid {
        padding: 0 100px;
    }

    .catalog_sports__grid h3,
    .catalog_apparels__grid h3 {
        font-size: 36px;
    }

    .catalog a {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .catalog_icon {
        width: 150px;
    }

    .gallery {
        padding: 0 75px;
    }

    .gallery h2 {
        font-size: 42px;
        padding: 20px 0;
    }

    .gallery_preview {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        display: grid;
        grid-template-rows: auto;
    }

    .gallery a {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .new_arrival {
        padding: 0 100px 50px;
    }

    .new_arrival__grid h2 {
        font-size: 78px;
        -webkit-text-stroke: 6px transparent;
    }

    .new_arrival__description-box h3 {
        font-size: 42px;
        line-height: 45px;
    }

    .new_arrival__description-box p {
        font-size: 36px;
        line-height: 45px;
    }

    .new_arrival__sticker > img {
        height: 100%;
        width: 45%;
    }

    .new_arrival__sticker {
        top: 220px;
        left: 200px;
    }

    .about_us {
        padding: 0 100px 100px;
    }

    .about_us__grid h2 {
        font-size: 78px;
    }

    .about_us__description p {
        font-size: 18px;
        line-height: 22px;
    }

    .partners {
        padding: 0 100px;
    }

    .partners__title-box h2 {
        font-size: 78px;
    }

    .partners__img-showcase {
        grid-gap: 50px;
    }

    .partners__description p {
        font-size: 42px;
        line-height: 54px;
    }

    .branches {
        padding: 0 100px 100px;
    }

    .branches_title-box h2 {
        font-size: 78px;
        -webkit-text-stroke: 3px black;
    }

    .branches_container a {
        font-size: 24px;
    }

    .footer {
        padding: 100px 100px;
    }

    .footer_company_details img:first-child {
        width: 100%;
    }

    .footer_payment_method p {
        font-size: 13px;
    }

    .footer_company_contact_info {
        margin-top: 50px;
    }

    .footer_company_contact_info a {
        font-size: 12px;
    }

    .footer_company_contact_info a img {
        width: 15px;
    }

    .inquiry p {
        font-size: 16px;
        line-height: 22px;
        padding: 0 100px;
    }

    .input,
    .select select,
    .textarea {
        font-size: 16px;
    }

    .select:not(.is-multiple):not(.is-loading)::after {
        top: 1.25em;
    }
}

/* MOBILE, TABLET & DESKTOP SMALL */
@media only screen and (max-width: 768px) {
    .header_announcement p {
        font-size: 12px;
    }

    .header_nav {
        flex-direction: row;
        justify-content: space-between;
        min-height: auto;
        padding: 10px 50px;
    }

    .header_nav a {
        text-align: left;
        margin-bottom: -5px;
    }

    .header_nav img {
        width: 60%;
    }

    .nav_ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav_ul.show {
        display: flex;
        padding: 0;
    }

    .nav_ul li > a {
        font-size: 12px;
    }

    .hamburger {
        display: block;
    }

    .main {
        padding: 0 0 0 50px;
    }

    .main_hero img {
        width: 307px;
        height: 450px;
    }

    .main_hero__content h1 {
        font-size: 36px;
        line-height: 34px;
    }

    .btn_large {
        font-size: 18px;
    }

    .catalog {
        padding: 0 50px;
    }

    .catalog h2 {
        font-size: 32px;
        padding-top: 25px;
    }

    .catalog p {
        font-size: 14px;
        line-height: 20px;
        padding: 0 50px;
    }

    .catalog_icon {
        width: 125px;
    }

    .catalog_sports__grid,
    .catalog_apparels__grid {
        padding: 0 50px;
        grid-gap: 10px;
    }

    .gallery {
        padding: 0 25px;
    }

    .gallery_preview {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        display: grid;
        grid-template-rows: auto;
    }

    .gallery h2 {
        font-size: 32px;
        margin: 0;
    }

    .new_arrival__img-showcase {
        grid-gap: 10px;
    }

    .new_arrival__grid h2 {
        font-size: 68px;
        -webkit-text-stroke: 5px transparent;
    }

    .new_arrival {
        padding: 0 50px 25px;
    }

    .new_arrival__description-box h3 {
        font-size: 36px;
        line-height: 34px;
    }

    .new_arrival__description-box p {
        font-size: 25px;
        line-height: 30px;
        -webkit-text-stroke: 1px #c2c2c2;
    }

    .new_arrival__sticker {
        top: 180px;
        left: 125px;
    }

    .new_arrival__sticker > img {
        height: 100%;
        width: 35%;
    }

    .about_us {
        padding: 0 50px 25px;
    }

    .about_us__grid {
        grid-template-columns: repeat(auto-fit, minmax(1228px, 1fr)) repeat(
        auto-fit,
        minmax(1228px, 1fr)
      )
      repeat(auto-fit, minmax(536px, 1fr));
        grid-template-rows: auto auto auto auto;
        grid-gap: 10px;
    }

    .about_us__grid h2 {
        font-size: 68px;
    }

    .about_us__img-showcase-01 {
        grid-area: 2 / 1 / 3 / 4;
    }

    .about_us__img-showcase-02 {
        grid-area: 3 / 1 / 3 / 4;
        display: none;
    }

    .about_us__description {
        grid-area: 4 / 1 / 4 / 4;
    }

    .partners {
        padding: 0 50px;
    }

    .partners__title-box h2 {
        font-size: 68px;
    }

    .partners__description p {
        font-size: 28px;
        line-height: 32px;
    }

    .branches {
        padding: 0 100px 50px;
    }

    .branches_title-box h2 {
        font-size: 68px;
    }

    .branches_container a:hover {
        -webkit-text-stroke: 0.2px #ffffff;
    }

    .footer {
        background-color: #000000;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        padding: 25px 50px;
        grid-template-areas: "details details details" "contact_info contact_info contact_info";
    }

    .footer_company_details {
        grid-area: details;
        display: flex;
        align-items: center;
    }

    .footer_company_details > p {
        font-size: 12px;
        padding: 0 25px;
        margin: 10px auto;
        text-align: center;
    }

    .footer_payment_method {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_company_details img:first-child {
        width: 50%;
        margin-bottom: 15px;
    }

    .footer_company_details img:last-child {
        margin-bottom: 15px;
    }

    .footer_company_contact_info {
        grid-area: contact_info;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 3px solid #ffffff;
        flex-direction: row;
    }

    .footer_company_contact_info a {
        font-size: 0px;
    }

    .footer_company_contact_info a img {
        width: 30px;
    }

    .footer_company_emblem {
        display: none;
    }

    .catalog_header a img {
        width: 340px;
        margin-top: 50px;
    }

    .inquiry h2 {
        font-size: 38px;
        padding-top: 25px;
    }

    .inquiry p {
        font-size: 14px;
        line-height: 20px;
        padding: 0 50px;
    }

    .inquiry {
        padding-top: 0;
        padding-bottom: 50px;
    }

    .inquiry_header a img {
        width: 340px;
        margin-top: 50px;
    }

    .catalog h4 {
        font-size: 28px;
    }

    .catalog_content {
        flex-direction: column;
        gap: 25px;
    }

    #mainCarousel.carousel {
        width: 600px;
        height: 350px;
    }

    #thumbCarousel.carousel {
        width: 600px;
    }

    .product_content h5 {
        font-size: 22px;
    }

    .product_content p {
        font-size: 18px;
    }
}
/* MOBILE XS*/
@media only screen and (max-width: 480px) {
    .header_announcement p {
        font-size: 9px;
    }

    .header_nav {
        padding: 10px 10px;
    }

    .main {
        padding: 10px 10px;
        background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.832)
      ),
      url("../img/new_arrival/2022/sept/hero_prev.jpg");
        height: 450px;
        background-size: cover;
        background-position: left center;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-decoration-break: clone;
    }

    .main_hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main_hero__content h1 {
        padding: 10px 10px;
        font-size: 32px;
        text-align: center;
        -webkit-text-stroke: 1px #ffffff;
        line-height: 28px;
        margin: 0;
    }

    .main_hero img {
        display: none;
    }

    .catalog {
        padding: 10px 10px;
    }

    .catalog h2 {
        font-size: 32px;
        line-height: 28px;
        padding-top: 0;
        padding-bottom: 15px;
    }

    .catalog p {
        font-size: 12px;
        line-height: 16px;
        padding: 0 30px;
    }

    .catalog_sports__grid {
        margin-top: 10px;
    }

    .catalog_sports__grid h3,
    .catalog_apparels__grid h3 {
        font-size: 22px;
    }

    .catalog_sports__grid,
    .catalog_apparels__grid {
        padding: 0 10px;
        gap: 10px;
    }

    .catalog a {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .catalog_icon {
        width: 75px;
    }

    .gallery {
        padding: 10px 10px;
    }

    .gallery h2 {
        font-size: 32px;
        line-height: 28px;
        margin-top: 0;
        padding: 10px 0;
    }

    .gallery_preview {
        grid-gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .gallery a {
        font-size: 18px;
        margin-top: 0;
        padding: 10px 0;
    }

    .new_arrival {
        padding: 0 10px 10px;
    }

    .new_arrival__grid h2 {
        font-size: 36px;
        -webkit-text-stroke: 2px transparent;
        letter-spacing: 1px;
    }

    .new_arrival__img-showcase > div > img {
        border: 2px solid #000000;
    }

    .btn_large {
        font-size: 16px;
        padding: 7px 14px;
    }

    .new_arrival__sticker {
        top: 142px;
        left: 47px;
    }

    .new_arrival__description-box h3 {
        font-size: 18px;
        line-height: 24px;
    }

    .new_arrival__description-box p {
        line-height: 15px;
        -webkit-text-stroke: 0.3px #c2c2c2;
        font-size: 12px;
    }

    .about_us {
        padding: 0 20px 25px;
    }

    .about_us__grid > div > img {
        border: 2px solid #000000;
    }

    .about_us__grid h2 {
        font-size: 42px;
    }

    .about_us__description p {
        text-align: justify;
        text-indent: 30px;
        font-size: 12px;
        line-height: 18px;
    }

    .partners {
        padding: 0 20px;
    }

    .partners__title-box h2 {
        font-size: 42px;
    }

    .partners__img-showcase {
        grid-gap: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .partners__description p {
        font-size: 22px;
        line-height: 24px;
    }

    .branches {
        padding: 0 10px 10px;
    }

    .branches_title-box h2 {
        font-size: 42px;
        -webkit-text-stroke: 2px #000000;
        letter-spacing: 1px;
    }

    .branches_container a {
        font-size: 22px;
        mix-blend-mode: difference;
    }

    .catalog_content {
        gap: 10px;
    }

    .catalog h4 {
        font-size: 26px;
        line-height: 28px;
        margin-top: -10px;
        letter-spacing: 1px;
    }

    #mainCarousel.carousel {
        width: 300px;
        height: 350px;
    }

    #thumbCarousel.carousel {
        width: 300px;
    }

    .product_content h5 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
    }

    .product_content ul {
        font-size: 12px;
    }

    .product_content p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .inquiry h2 {
        font-size: 32px;
        line-height: 28px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .inquiry {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }

    .inquiry p {
        font-size: 12px;
        line-height: 16px;
        padding: 0 30px;
    }

    .input,
    .select select,
    .textarea {
        font-size: 12px;
    }

    .select:not(.is-multiple):not(.is-loading)::after {
        top: 1em;
    }

    .input,
    .select select,
    .textarea {
        border: #000000 2px solid;
    }

    .label {
        font-size: 8px;
    }

    .column {
        padding-top: 0;
        padding-bottom: 5px;
    }

    .file.is-boxed.has-name {
        border: #000000 2px solid;
    }

    .file-label {
        font-size: 16px;
    }

    .file-name {
        font-size: 12px;
    }

    .label_danger {
        font-size: 10px;
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .float {
        left: 20px;
        top: 50px;
        width: 55px;
        height: 55px;
    }

    a.btn_back.float {
        font-size: 38px;
    }

    a.btn_back.float i {
        margin-left: 12px;
    }

    .catalog_header a img {
        width: 280px;
        margin-top: 30px;
    }

    .inquiry_header a img {
        width: 280px;
        margin-top: 30px;
    }

    .footer {
        padding: 10px 10px;
    }

    .footer_company_details img:first-child {
        width: 75%;
    }

    .footer_payment_method p {
        text-align: center;
    }

    @media (prefers-reduced-motion: no-preference) {
        html {
            scroll-behavior: smooth;
        }
    }
}
